body {
	font-family: Arial, sans-serif;
	background-color: gray;
	text-align: center;
	padding: 50px;
}

.container {
	background-color: steelblue;
	background: linear-gradient(to right, rgba(67, 124, 205), rgba(69, 214, 202))
		repeat-3;
	background-clip: border;
	-webkit-background-clip: border;
	/* -webkit-text-fill-color: transparent; */
	padding: 20px;
	border-radius: 8px;
	border-color: black;
	border-style: solid;
	border-width: 3px;
	margin: 0 auto;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
	display: inline-block;
	animation: fade 2s ease-in 1s it3 dr;
	/* pointer-events: none;
	opacity: 0; */
}

@keyframes fade {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

#city {
	padding: 10px;
	font-size: 16px;
	background-color: lightgrey;
	border-radius: 8px;
	border-color: blue;
	border-style: solid;
	border-width: 1px;
	margin: 0 auto;
	margin-bottom: 25px;
}

#state {
	padding: 10px;
	font-size: 16px;
	background-color: lightgrey;
	border-radius: 8px;
	border-color: blue;
	border-style: solid;
	border-width: 1px;
	margin: 0 auto;
	margin-bottom: 25px;
}

#country {
	padding: 10px;
	font-size: 16px;
	background-color: lightgrey;
	border-radius: 8px;
	border-color: blue;
	border-style: solid;
	border-width: 1px;
	margin: 0 auto;
	margin-bottom: 25px;
}

button {
	padding: 10px 15px;
	font-size: 16px;
	cursor: pointer;
	background-color: lightblue;
	border-radius: 8px;
	border-color: blue;
	border-style: solid;
	border-width: 1px;
	margin: 0 auto;
	margin-bottom: 25px;
}

button:hover {
	background-color: lightgreen;
}

#weatherInfo {
	margin-top: 25px;
	font-size: 18px;
	background-color: lightblue;
	border-radius: 8px;
	border-color: blue;
	border-style: solid;
	border-width: 1px;
	margin: 0 auto;
}

#weatherInfo2 {
	margin-top: 10px;
	/* border-radius: 8px;
	border-color: blue;
	border-style: solid;
	border-width: 1px;
	margin: 0 auto; */
}
